*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 13px;
}

body{
    padding: 40px 00px;
    background-color: hsl(210, 46%, 95%);
}

.cards{
    width: 70%;
    margin: auto;
}

.head img{
    border-radius: 50%;
    width: 40px;
}

.head{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    z-index: 0;
}

h2{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    z-index: 0;
}

p{
    font-weight: 500;
    line-height: 20px;
}

.brpd{
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
}



.daniel, .jonathan, .patrick{
    color: white;
}

.white-s{
    color: hsl(0, 0%, 100%, 0.7);
}

.white-f{
    color: hsl(0, 0%, 100%, 0.5);
}

.black-s{
    color: hsl(217, 19%, 35%, 0.7);

}

.black-f{
    color: hsl(217, 19%, 35%, 0.5);
}

.daniel{
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

.jonathan{
   background-color: hsl(217, 19%, 35%)
}

.jeanette, .kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    box-shadow: 2px 2px 30px hsla(0, 0%, 0%, 0.3);
    /* bottom: jj; */
}

.patrick{
    background-color: hsl(219, 29%, 14%);
}

.patrick img{
    border: 2px hsl(263, 55%, 52%) solid;
}

.daniel-image{
    border: 2px hsl(0, 0%, 100%, 0.5) solid;
}

.daniel > h2{
    position: relative;
    z-index: 10;
}

.daniel > img{
    position: absolute;
    top: 0;
    left: 62%;
    z-index: 0;
}

@media (min-width: 768px) {
    body{
       padding-top: 50px;
    }

   .cards{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira"               ;
    column-gap: 20px;
    } 

   .daniel{
    grid-area: daniel;
   }

   .jonathan{
    grid-area: jonathan;
   }

   .kira{
    grid-area: kira;
   }

   .jeanette{
    grid-area: jeanette;
   }

   .patrick{
    grid-area: patrick;
   }
}